body {
    background-color: #fcdada;
}
table, th, td{
    border: 1px solid black;
    text-align: center;
}
h1 {
    font-family: fantasy; 
    font-size: 300%;
    text-align: center;
    color: #3d7ea6;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 150%;
    text-align: left;
    color: #3d7ea6;
}
h3 {
    font-family: cursive; 
    font-size: 150%;
    text-align: center;
    color: #5c969e;
}